@use 'colors';

@mixin button {
	padding: 0.5em 3em;
	color: colors.$white-color;
	background-color: colors.$main-color;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	border: none;
	border-radius: 8px;
	transition: background-color 0.3s;
	cursor: pointer;
}

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
