@media screen and (min-width: 400px) {
	.add-note {
		&__submit,
		&__back-button {
			width: 50%;
		}
	}

	.form {
		&__input,
		&__textarea {
			width: 90%;
		}
	}

	.notes-array {
		&__item {
			width: 300px;
		}
	}
}

@media screen and (min-width: 600px) {
	.login,
	.register,
	.add-note {
		width: 80%;
	}

	.footer {
		&__icons-box {
			padding: 0.5em 1em;
		}

		&__icon {
			margin: 1em;
		}
	}

	.notfound {
		&__img {
			width: 80%;
		}
	}
}
