@media screen and (max-width: 399px) {
	.form {
		&__password-reset-btn {
			right: 0;
		}
	}
}

@media screen and (min-width: 400px) {
	.add-or-edit-note {
		&__submit,
		&__back-button {
			width: 50%;
		}
	}

	.form {
		&__input,
		&__textarea {
			width: 90%;
		}
	}

	.notes-array {
		&__item {
			width: 300px;
		}
	}
}

@media screen and (min-width: 500px) {
	.form {
		&__special-text {
			padding: 1rem 3rem;
		}
	}
}

@media screen and (min-width: 600px) {
	.login,
	.register,
	.add-or-edit-note {
		width: 80%;
	}

	.footer {
		&__icons-box {
			padding: 0.5em 1em;
		}

		&__icon {
			margin: 1em;
		}
	}

	.notfound {
		&__img {
			width: 80%;
		}
	}
}

@media screen and (min-width: 640px) {
	.form {
		&__password-reset-box {
			padding: 1em 0 0;
		}
	}
}
