*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	margin-right: calc(-1 * (100vw - 100%));
	overflow-x: hidden;
	scroll-behavior: auto;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #ebebeb;
	background-color: rgb(20, 20, 20);
}

.scroll-block {
	overflow-y: hidden;
}

.error-popup--shadow,
.error-popup--box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-popup--button,
.login-container--form-submit,
.login-container--form-toggle button,
.register-container--form-submit,
.register-container--form-toggle button,
.add-note-container--form-submit,
.add-note-container--button {
	padding: 0.5em 3em;
	color: #ebebeb;
	background-color: #39724a;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	border: none;
	border-radius: 8px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.error-popup--button,
.login-container--form-toggle button,
.register-container--form-toggle button {
	margin-top: 1em;
}

.error-popup--shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 10;
}

.error-popup--box {
	position: relative;
	flex-direction: column;
	padding: 1em;
	width: 90%;
	height: 200px;
	opacity: 0;
	animation: popup-animation 1s linear forwards;
}

@keyframes popup-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.white-gradient {
	background: rgba(245, 245, 245, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.error-popup--message {
	font-size: 1.2em;
	text-align: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header--title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.3em 0 0.5em;
	font-weight: 400;
}

.header--title-icon {
	margin: 0 5px 3px 0;
	font-size: 1.1em;
}

.header--button-container {
	padding-bottom: 1.5em;
}

.header--button {
	padding: 1em;
	margin: 0.5em;
	background-color: transparent;
	color: #ebebeb;
	border: 2px solid #ebebeb;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.header--button-icon {
	margin-top: 1px;
	font-size: 18px;
}

.login-container,
.login-container--form,
.register-container,
.register-container--form,
.add-note-container,
.add-note-container--form {
	width: 100%;
}

.login-container,
.register-container,
.add-note-container {
	padding: 3em 1em;
	margin: auto;
}

.login-container--box,
.register-container--box,
.add-note-container--box {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-container--title,
.register-container--title,
.add-note-container--title {
	font-size: 1.5em;
	padding: 1.5em;
	font-weight: 200;
}

.login-container--strap,
.register-container--strap,
.add-note-container--strap {
	width: 90%;
	border-color: rgba(255, 255, 255, 0.3);
}

.login-container--strap:first-of-type,
.register-container--strap:first-of-type {
	margin-bottom: 1em;
}

.login-container--form-box,
.login-container--form-toggle,
.register-container--form-box,
.register-container--form-toggle,
.add-note-container--form-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em;
}

.login-container--form-toggle,
.register-container--form-toggle {
	padding-bottom: 2em;
}

.login-container--label,
.register-container--label,
.add-note-container--label {
	padding-bottom: 0.25em;
}

.login-container--input,
.register-container--input,
.add-note-container--input,
.add-note-container--textarea {
	padding: 0.95em 3.25em 0.95em 0.75em;
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 12px;
	color: #ebebeb;
	background-color: transparent;
	font-family: 'Nunito', sans-serif;
}

.add-note-container--textarea {
	height: 200px;
	min-height: 120px;
	max-height: 300px;
	resize: vertical;
}

.login-container--input:focus,
.register-container--input:focus,
.add-note-container--input:focus,
.add-note-container--textarea:focus {
	border-color: #39724a;
	outline: #39724a;
}

.login-container--input::placeholder,
.register-container--input::placeholder,
.add-note-container--input::placeholder,
.add-note-container--textarea::placeholder {
	color: #a7a7a7;
	opacity: 1;
}

.login-container--input[aria-invalid='true'],
.register-container--input[aria-invalid='true'],
.add-note-container--input[aria-invalid='true'],
.add-note-container--textarea[aria-invalid='true'] {
	border: 1px solid rgb(252, 72, 72);
}

.login-container--input-error,
.register-container--input-error,
.add-note-container--error {
	padding-top: 0.25em;
	height: 1em;
	width: 100%;
	color: rgb(252, 72, 72);
	font-size: 0.8em;
	text-align: center;
}

.add-note-container--button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em 0;
}

.add-note-container--form-submit,
.add-note-container--button {
	margin: 1em;
	width: 70%;
}

.login-container--form-submit,
.register-container--form-submit {
	margin: 1em 1em 1.25em;
}

.login-container--form-toggle p,
.register-container--form-toggle p {
	padding-top: 1em;
}

.dashboard-container {
	padding: 1em;
}

.notes-array--container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1em;
}

.notes-array--username {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border: 1px dashed #ebebeb;
}

.notes-array--item {
	padding: 1em;
	margin: 1em 0;
	width: 100%;
	height: 260px;
	overflow: auto;
}

.notes-array--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.75em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.notes-array--button {
	background-color: transparent;
	color: #ebebeb;
	line-height: 2px;
	font-size: 28px;
	border: none;
	transition: color 0.3s;
	cursor: pointer;
}

.notes-array--text {
	padding-top: 0.5em;
	overflow-wrap: break-word;
	white-space: pre-line;
}

.footer {
	padding: 1em 1em 0;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 1.2em;
	text-align: center;
}

.footer--text {
	padding: 1em;
}

.footer--icons {
	padding-top: 0.5em;
}

.footer--icon {
	margin: 0.65em;
	color: #ebebeb;
	font-size: 32px;
	transition: color 0.3s;
}

.footer--icon:hover {
	color: #39724a;
}

.notfound {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 1em;
}

.notfound--img {
	width: 90%;
}

.notfound--credits {
	color: #ebebeb;
	font-size: 0.8em;
}

.notfound--btn {
	padding: 0.75em 5em;
	margin: 2em 1em;
	background-color: #39724a;
	color: #ebebeb;
	text-decoration: none;
	border-radius: 8px;
	transition: background-color 0.3s;
}

.notfound--btn:hover {
	background-color: #013a20;
}

@media screen and (min-width: 400px) {
	.login-container--input,
	.register-container--input,
	.add-note-container--input,
	.add-note-container--textarea {
		width: 90%;
	}

	.add-note-container--form-submit,
	.add-note-container--button {
		width: 50%;
	}

	.notes-array--item {
		width: 300px;
	}
}

@media screen and (min-width: 600px) {
	.login-container,
	.register-container,
	.add-note-container {
		width: 80%;
	}

	.footer--icons {
		padding: 0.5em 1em;
	}

	.footer--icon {
		margin: 1em;
	}

	.notfound--img {
		width: 80%;
	}
}

@media screen and (min-width: 768px) {
	.error-popup--box,
	.login-container,
	.register-container,
	.add-note-container {
		width: 70%;
	}

	.header-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2em;
		margin: 0 auto;
		width: 100%;
		max-width: 1600px;
	}

	.header--title {
		padding: 1em 0;
		margin: 0 0.25em;
	}

	.header--button-container {
		padding-bottom: 0;
	}

	.login-container--title,
	.register-container--title,
	.add-note-container--title {
		font-size: 1.7em;
	}

	.add-note-container--button-box {
		flex-direction: row;
	}

	.add-note-container--form-submit,
	.add-note-container--button {
		width: 180px;
	}

	.notes-array--container {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 1;
	}

	.notes-array--item {
		margin: 1em;
	}

	.notfound--credits {
		font-size: 1em;
	}

	.notfound--img {
		width: 70%;
	}
}

@media screen and (min-width: 1024px) {
	.error-popup--button:hover,
	.login-container--form-submit:hover,
	.login-container--form-toggle button:hover,
	.register-container--form-submit:hover,
	.register-container--form-toggle button:hover,
	.add-note-container--form-submit:hover,
	.add-note-container--button:hover {
		background-color: #013a20;
	}

	.header--button:hover {
		background-color: #39724a;
	}

	.error-popup--box,
	.login-container,
	.register-container,
	.add-note-container {
		width: 50%;
	}

	.error-popup--button {
		margin-top: 2em;
	}

	.login-container--title,
	.register-container--title,
	.add-note-container--title {
		font-size: 1.8em;
	}

	.login-container--label,
	.login-container--form-submit,
	.login-container--form-toggle button,
	.register-container--label,
	.register-container--form-submit,
	.register-container--form-toggle button,
	.add-note-container--form-submit,
	.add-note-container--button {
		font-size: 1.1em;
	}

	.login-container--input-error,
	.register-container--input-error,
	.add-note-container--error {
		font-size: 0.9em;
	}

	.dashboard-container {
		padding: 3em;
	}

	.notes-array--username {
		font-size: 1.2em;
	}

	.notes-array--item::-webkit-scrollbar {
		width: 8px;
		height: 5px;
	}

	.notes-array--item::-webkit-scrollbar-thumb {
		background: #ebebeb;
		border-radius: 8px;
	}

	.notes-array--item::-webkit-scrollbar-track {
		background: transparent;
	}

	.notes-array--item {
		scrollbar-face-color: #ebebeb;
		scrollbar-track-color: transparent;
	}

	.notes-array--button:hover {
		color: #39724a;
	}

	.footer--text {
		padding: 1em 1em 0;
	}

	.notfound {
		padding-bottom: 5em;
	}

	.notfound--img {
		width: 50%;
	}

	.notfound--btn {
		padding: 1em 4em;
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1120px) {
	.notes-array--item {
		width: 350px;
		height: 400px;
	}
}

@media screen and (min-width: 1536px) {
	.error-popup--box,
	.login-container,
	.register-container,
	.add-note-container {
		width: 35%;
	}
}
