*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #ebebeb;
	background-color: rgb(20, 20, 20);
}

.scroll-block {
	overflow-y: hidden;
}

.error-popup--shadow,
.error-popup--box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-popup--button,
.login-container--form-submit,
.login-container--form-toggle button {
	padding: 0.5em 3em;
	color: #ebebeb;
	background-color: #39724a;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	border: none;
	border-radius: 8px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.error-popup--button,
.login-container--form-toggle button {
	margin-top: 1em;
}

.error-popup--button:hover,
.login-container--form-submit:hover,
.login-container--form-toggle button:hover {
	background-color: #013a20;
}

.error-popup--shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 10;
}

.error-popup--box {
	position: relative;
	flex-direction: column;
	padding: 1em;
	width: 90%;
	height: 200px;
	opacity: 0;
	animation: popup-animation 1s linear forwards;
}

@keyframes popup-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.white-gradient {
	background: rgba(245, 245, 245, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.error-popup--message {
	font-size: 1.2em;
	text-align: center;
}

.login-container,
.login-container--form {
	width: 100%;
}

.login-container {
	padding: 3em 1em;
	margin: auto;
}

.login-container--box {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-container--title {
	font-size: 1.5em;
	padding: 1.5em;
}

.login-container--strap {
	width: 90%;
	border-color: rgba(255, 255, 255, 0.3);
}

.login-container--strap:first-of-type {
	margin-bottom: 1em;
}

.login-container--form-box,
.login-container--form-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em;
}

.login-container--form-toggle {
	padding-bottom: 2em;
}

.login-container--label {
	padding-bottom: 0.25em;
}

.login-container--input {
	padding: 0.95em 3.25em 0.95em 0.75em;
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 12px;
	color: #ebebeb;
	background-color: transparent;
	font-family: 'Nunito', sans-serif;
}

.login-container--input::placeholder {
	color: #a7a7a7;
	opacity: 1;
}

.login-container--input[aria-invalid='true'] {
	border: 1px solid rgb(252, 72, 72);
}

.login-container--input-error {
	padding-top: 0.25em;
	height: 1em;
	width: 100%;
	color: rgb(252, 72, 72);
	font-size: 0.8em;
	text-align: center;
}

.login-container--form-submit {
	margin: 1em 1em 1.25em;
}

.login-container--form-toggle p {
	padding-top: 1em;
}

@media screen and (min-width: 400px) {
	.login-container--input {
		width: 90%;
	}
}

@media screen and (min-width: 600px) {
	.login-container {
		width: 80%;
	}
}

@media screen and (min-width: 768px) {
	.error-popup--box,
	.login-container {
		width: 70%;
	}

	.login-container--title {
		font-size: 1.7em;
	}
}

@media screen and (min-width: 1024px) {
	.error-popup--box,
	.login-container {
		width: 50%;
	}

	.error-popup--button {
		margin-top: 2em;
	}

	.login-container--title {
		font-size: 1.8em;
	}

	.login-container--label,
	.login-container--form-submit,
	.login-container--form-toggle button {
		font-size: 1.1em;
	}

	.login-container--input-error {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 1536px) {
	.error-popup--box,
	.login-container {
		width: 35%;
	}
}
